# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
/*.iml
.vscode
.cache
.settings
.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml

# Node
node_modules
npm-debug.log
yarn-error.log
lerna-debug.log

# allow
!.gitkeep


*.log*
coverage

.idea
*.iml

# docusaurus
lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*