language: node_js
node_js:
  - "8"
  - "10"
before_install:
  - npm i -g npm@5.6.0
install:
  - travis_retry npm install
script:
  - travis_retry npm run build
  - travis_retry npm test
  - travis_retry npm run size
